@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chewy Google Font utility */
.font-chewy {
  font-family: 'Chewy', cursive;
}
